
  <div style="text-align: center">
   <h1>{{header1}}</h1>
   <p><img src="img/star.png"/></p>
   <script src="js/vendor/modernizr-3.11.2.min.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/main.js"></script>
  </div>
